# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/Java_Lessons.iml
/README.md
/.idea/
out/Docs/allclasses-frame.html
out/Docs/allclasses-noframe.html
out/Docs/constant-values.html
out/Docs/deprecated-list.html
out/Docs/index-files/
out/Docs/index.html
out/Docs/jquery/
out/Docs/member-search-index.js
out/Docs/overview-frame.html
out/Docs/overview-summary.html
out/Docs/overview-tree.html
out/Docs/package-list
out/Docs/package-search-index.js
out/Docs/pattern/
out/Docs/resources/
out/Docs/script.js
out/Docs/search.js
out/Docs/stylesheet.css
out/Docs/type-search-index.js
