# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/README.md
/.idea/
/Docs/
/out/
/Java_Lessons.iml
/1/
/src/.gradle/
/src/solid/java.lessons.solid.iws
/src/solid/java.lessons.solid.iml
/src/solid/java.lessons.solid.ipr
src/gradle/wrapper/gradle-wrapper.properties
src/gradlew
src/gradlew.bat
src/solid/.gradle/
src/solid/build/tmp/
src/solid/java.lessons.solid.iml
src/solid/java.lessons.solid.ipr
src/solid/java.lessons.solid.iws
/src/solid/src/test/
/src/solid/src/main/resources/java.docs
/generics/src/test/
.gradle/
generics/build/classes/java/main/generics/
generics/build/tmp/
generics/dosc/allclasses-frame.html
generics/dosc/allclasses-noframe.html
generics/dosc/constant-values.html
generics/dosc/deprecated-list.html
generics/dosc/element-list
generics/dosc/generics/
generics/dosc/index-files/
generics/dosc/index.html
generics/dosc/jquery/
generics/dosc/member-search-index.js
generics/dosc/overview-frame.html
generics/dosc/overview-summary.html
generics/dosc/overview-tree.html
generics/dosc/package-search-index.js
generics/dosc/resources/
generics/dosc/script.js
generics/dosc/search.js
generics/dosc/src-html/
generics/dosc/stylesheet.css
generics/dosc/type-search-index.js
generics/src/lib/
generics/src/main/resources/
generics/src/test/
gradle/wrapper/gradle-wrapper.properties
gradlew
gradlew.bat
src/solid/src/main/resources/
generics/build/classes/java/main/lessons/
/generics/regpass
/GitCommitMessage.template
/regpass
/generics/dosc/
/generics/src/main/java/lessons/generics/LibsInetor.java
generics/build/distributions/generics-1.tar
generics/build/scripts/
lesson.now
