grant{
    permission java.io.FilePermission "c:\Users\ikudryashov.EATMEAT\*", "read,write";
    permission java.net.SocketPermission "*.eatmeat.ru:443", "connect";
    permission java.util.PropertyPermission "os.name", "read";
    permission security.MyPermission "use";
};

grant{
    permission javax.security.auth.AuthPermission "createLoginContext.Login1";
    permission javax.security.auth.AuthPermission "doAsPrivileged";
};
grant principal com.sun.security.auth.module.NTLoginModule "ikudryashov"{
    permission java.util.PropertyPermission "user.*", "read";
    permission java.util.PropertyPermission "os.name", "read";
};